<div class="action">
  <button (click)="onExportPdf()">Export</button>
</div>
<!-- <div class="text-content" style="display: flex; justify-content: space-between">
  <div class="left">
    <p>
      Company Name: dolor sit amet consectetur adipisicing elit. Labore,
      officiis!
    </p>
    <p>
      Company Address: dolor sit amet consectetur, adipisicing elit. Adipisci,
      maxime?
    </p>
  </div>
  <p style="text-align: right">
    Lorem ipsum, dolor sit amet consectetur adipisicing.
  </p>
</div>
<div id="container" #contentExport>
  <table id="test">
    <tr>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Age</th>
    </tr>
    <tr>
      <td>Jill</td>
      <td>Smith</td>
      <td>50</td>
    </tr>
    <tr>
      <td>Eve</td>
      <td>Jackson</td>
      <td>94</td>
    </tr>
  </table>
  <table id="test">
    <div
      class="text-content"
      style="display: flex; justify-content: space-between"
    >
      <div class="left">
        <p>
          Company Name: dolor sit amet consectetur adipisicing elit. Labore,
          officiis!
        </p>
        <p>
          Company Address: dolor sit amet consectetur, adipisicing elit.
          Adipisci, maxime?
        </p>
      </div>
      <p style="text-align: right">
        Lorem ipsum, dolor sit amet consectetur adipisicing.
      </p>
    </div>
    <header>
      <span>No.</span>
      <span>Name</span>
      <span>Position</span>
    </header>
    <div class="table-content">
      <div class="item" *ngFor="let item of data; index as i">
        <span>{{ +(+i) }}</span>
        <span>{{ item.name }}</span>
        <span>{{ item.position }}</span>
      </div>
    </div>
  </table>
</div> -->
<table id="table-content" style="border-collapse: collapse">
  <tr>
    <th style="text-align: left; padding-bottom: 15px;">Company Name: dolor sit amet consectetur adipisicing elit. Labore,
      officiis!</th>
    <th>Lorem ipsum, dolor sit amet consectetur adipisicing.</th>
  </tr>
  <tr>
    <td style="padding-top: -15px;">Company Address: dolor sit amet consectetur, adipisicing elit. Adipisci,
      maxime?</td>
  </tr>
</table>
<table id="table1" style="width: 100%; border-collapse: collapse" #table1>
  <tr>
    <th>No.</th>
    <th>Name</th>
    <th>Position</th>
  </tr>
  <tr
    *ngFor="let item of data; index as i"
    class="line"
    style="border-bottom: 2px solid gray"
  >
    <td>{{ i }}</td>
    <td>{{ item.name }}</td>
    <td>{{ item.position }}</td>
  </tr>
</table>
<table id="table2" style="width: 100%; border-collapse: collapse">
  <tr>
    <th>STT.</th>
    <th>Name</th>
    <th>Position</th>
  </tr>
  <tr
    *ngFor="let item of data; index as i"
    class="line"
    style="border-bottom: 2px solid gray"
  >
    <td>{{ i }}</td>
    <td>{{ item.name }}</td>
    <td>{{ item.position }}</td>
  </tr>
</table>
